@tailwind base;
@tailwind components;

@layer base {
    @font-face {
        font-family: Franklin;
        font-weight: 400;
        src: url(/fonts/Franklin.ttf) format("ttf");
    }
}

@tailwind utilities;
